<div class="container" id="about">

    <div google-map=""></div>

    <div class="row" id="overMelanie">
        <h1>Over Melanie</h1>
        <br>
        <div class="feature">
            <img src="./images/melanie_profile.jpg" id="profilepic" alt="profile picture melanie">
            <br><br>
            <p>
                Mag ik mij even voorstellen:
                Ik ben Melanie, ik ben geboren in Stafford, in de Midlands, Engeland, bekend om het aardewerk van The Royal Albert en het Wedgewood.
                Zo'n dertig jaar geleden ben ik in Nederland komen worden en ik heb het hier erg naar mijn zin. Ik ben getrouwd en heb drie volwassen kinderen.
                Al geruime tijd geef ik als native speaker Engelse les.
                Ik geef individueel les of groepsgewijs. Engels leren voor het werk, voor vakantie, voor het IELTS examen, voor school of gewoon uit interesse. Ik vind het heel leuk om mensen te helpen hun doel te bereiken.
                Iedereen heeft een andere vraag en ik stem het leerplan af op basis van hun niveau en wensen.
            </p>
        </div>
    </div>


    <hr>


    <div class="row features">
        <h1>Wat anderen over Melanie zeggen</h1>
        <br>
        <div class="col-sm-6 feature">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Albert (53)</h3>
                </div><!-- end panel-heading -->
                <br>
                <p>
                    "Melanie geeft op een leuke manier engelse les,
                    de persoonlijke aandacht is prima.
                    <br><br>
                    Ze bereid de lessen goed voor en past dit ook aan op je persoonlijke wensen."
                </p>
            </div><!-- end panel -->
        </div><!-- end feature -->



        <div class="col-sm-6 feature">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Elske (19)</h3>
                </div><!-- end panel-heading -->

                <br>
                <p>
                    "Ik ben erg tevreden over de lessen van Melanie.
                    Ze heeft mij geholpen om het vak Engels in VWO 6 succesvol af te ronden, waarvoor ik haar erg dankbaar ben!
                    <br><br>
                    De lessen waren erg gezellig en Melanie paste zich aan mijn wensen aan.
                    Melanie is erg flexibel, zowel met het inplannen van de lessen als met de lesstof."
                </p>
            </div><!-- end panel -->
        </div><!-- end feature -->





    </div><!-- end row features -->


    <div class="row features">
        <div class="col-sm-6 feature">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">de Boer (47)</h3>
                </div><!-- end panel-heading -->

                <br>
                <p>
                    "Ik ben erg tevreden over de manier van lesgeven.
                    Eerst is ze langsgeweest voor een intake om te kijken waar de problemen precies liggen en wat voor type lessen er moeten worden gegeven.
                    <br><br>
                    Onder het genot van een kopje koffie hebben we intensieve lessen gehad, die toch ook een prettige sfeer met zich mee brachten.
                    Ze wist overal een goede uitleg aan te geven en wist precies mijn knelpunten.
                    <br><br>
                    Ik ben geslaagd voor mijn test dankzij de geweldige hulp van Melanie en absoluut niet duur."
                </p>

            </div><!-- end panel -->
        </div><!-- end feature -->

        <div class="col-sm-6 feature">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Brouwer (25)</h3>
                </div><!-- end panel-heading -->

                <br>
                <p>
                    "Melanie kijkt naar jou persoonlijke wensen en ontwikkelingspunten in de Engelse taal.
                    Zij past haar lessen op jou aan en daardoor voelde ik mij erg begrepen door haar.
                    Zij heeft mij laten inzien dat de Engelse taal heel erg leuk kan zijn en dat het leuk is om een taal te leren.
                    <br><br>
                    Iedere les, onder genot van een glas drinken of een kopje thee wordt de lesstof doorgenomen.
                    Dit gaat allemaal heel erg gemoedelijk en tevens heb ik ook ontzettend veel gelachen.
                    Erg leuk en leerzaam!"
                </p>

            </div><!-- end panel -->
        </div><!-- end feature -->

    </div><!-- end row features -->






</div>