<div class="container" id="main">


    <div id="angularCarousel">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>{{slide.title}}</h4>
                        <p>{{slide.subtitle}}</p>
                    </div>
                </slide>
            </carousel>
    </div>


    <div class="row" id="bigCallout">

        <div class="col-12">
            <!-- Visible only on phones -->
            <div class="well well-small visible-xs">
                <!--<a href="tel:+31621879990" class="btn btn-large btn-block btn-default"><span class="glyphicon glyphicon-phone"></span> Neem telefonisch contact op</a>-->
                <a href="mailto:melaniejones@live.com" class="btn btn-large btn-block btn-default"><span class="glyphicon glyphicon-envelope"></span> Neem vrijblijvend contact op!</a>
            </div><!-- end well-extra-small -->

            <!-- Visible only on tablets -->
            <div class="well well-small visible-sm">
                <a href="mailto:melaniejones@live.com" class="btn btn-large btn-block btn-default"><span class="glyphicon glyphicon-envelope"></span> Neem vrijblijvend contact op!</a>
            </div><!-- end well-small -->

            <div class="well">
                <div class="page-header">
                    <h1>Leer Engels met native speaker Melanie!</h1>
                    <h1><small>Conversatie lessen Engels op een gezellige, persoonlijke en leerzame manier</small></h1>
                </div><!-- end page-header -->

                <!--<p class="lead">-->

                <div class="container-fluid col-md-12">
                    <div class="row-fluid">
                        <div class="col-sm-6">

                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check-square"></i>Ga je emigreren en wil je moeiteloos Engels spreken?</li>
                                <li><i class="fa-li fa fa-check-square"></i>Wil je lezingen in het Engels geven?</li>
                                <li><i class="fa-li fa fa-check-square"></i>Ga je stage lopen in een Engelssprekend land?</li>
                                <li><i class="fa-li fa fa-check-square"></i>Ga je werken in het buitenland?</li>
                                <li><i class="fa-li fa fa-check-square"></i>Wil je je Engelse uitspraak verbeteren?</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check-square"></i>Wil je Engels leren lezen?</li>
                                <li><i class="fa-li fa fa-check-square"></i>Wil je zaken doen in het buitenland en in het Engels onderhandelen?</li>
                                <li><i class="fa-li fa fa-check-square"></i>Ga je stage lopen in een Engelssprekend land?</li>
                                <li><i class="fa-li fa fa-check-square"></i>Wil je je Engelse spreekvaardigheid ophalen voor een vakantie?</li>
                                <li><i class="fa-li fa fa-check-square"></i>Wil je hulp bij het halen van het IELTS examen?</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--</p>-->

                <div class="text-center">
                    <a href="" class="btn btn-large btn-primary" id="alertMe">Informeer naar de mogelijkheden!</a>
                </div>
            </div><!-- end well -->

        </div><!-- end col-12 -->
    </div><!-- end bigCallout -->



    <div class="row featuresHeading">
        <div class="col-12">
            <h2>Melanie's Engelse lessen kunnen u helpen bij:</h2>
        </div><!-- end col-12 -->
    </div><!-- end featuresHeading -->


    <div class="row features">
        <div class="col-sm-4 feature">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Spreekvaardigheid</h3>
                </div><!-- end panel-heading -->
                <!--<img src="" alt="HTML5" class="img-circle">-->

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>

            </div><!-- end panel -->
        </div><!-- end feature -->

        <div class="col-sm-4 feature">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Leesvaardigheid</h3>
                </div><!-- end panel-heading -->
                <!--<img src="" alt="CSS3" class="img-circle">-->

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>

            </div><!-- end panel -->
        </div><!-- end feature -->

        <div class="col-sm-4 feature">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Schrijfvaardigheid</h3>
                </div><!-- end panel-heading -->
                <!--<img src="" alt="Bootstrap 3" class="img-circle">-->

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>

            </div><!-- end panel -->
        </div><!-- end feature -->
    </div><!-- end features -->

</div> <!--end container-->